.careerGPTContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    right: 50%;
    bottom: 0;
    
}

.react-chatbot-kit-chat-container{
    width: 600px;
}

.custom-bot-message{
    background-color: var(--lightPink);
    margin-left: 5px;
    width: 400px;
    padding: 14px;
    color: #81689D;
    font-size: 16px;
    border-radius: 5px;
}

.loading-message{
    margin-left: 5px;
    width: 400px;
    padding: 14px;
    color: #4BB543;
    font-size: 16px;
}

.error-message{
    margin-left: 5px;
    width: 400px;
    padding: 14px;
    color: red;
    font-size: 16px;
}

.react-chatbot-kit-chat-bot-message-arrow{
    border-right: 8px solid var(--lightPink);
}

.react-chatbot-kit-user-chat-message{
    background-color: #81689D;
    color: white;
    margin-right: 5px;
    font-size: 16px;
    max-width: 320px;
}

.react-chatbot-kit-user-chat-message-arrow{
    border-left: 8px solid #81689D;
}

.react-chatbot-kit-chat-btn-send{
    background-color: #81689D;
}


