:root{
    --lightPink: #FED9E8;
    --lavender: #E7BCDE;
    --purple: #BB9CC0;
    --blue: #67729D;
    --fontHeading: 'Philosopher', sans-serif;
    
}
body{
    background-image: linear-gradient(to right, var(--blue), var(--lightPink));
}